<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title>Ofertas</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<style>
.card {
/* 	background: #222; */
	border: 1px solid #dd2476;
/* 	color: rgba(250, 250, 250, 0.8); */
	margin-bottom: 2rem;
}
</style>
</head>

<body>
	<header th:replace="layouts/ciudadano_header::fheader"></header>
	<br />
	<br />
	<br />
	<h1>Lista de ofertas disponibles</h1>

	<div th:if="${errorCurriculum}==true"
		class="container text-center alert alert-danger alert-dismissible fade show">
		<strong>Error!</strong> Todavia no creaste tu curriculum. No puedes realizar una postulacion
		<a th:href="@{/ciudadano/ofertas}">Volver</a>
	</div>

<!-- 		<div class="d-grid gap-2 d-md-flex justify-content-md-end container" th:if="${errorCurriculum}!=true"> -->
<!-- 			<h5>Provincia:</h5> -->
<!-- 			<select class="select"> -->
<!-- 				<option th:each="o: ${provincias}" th:text="${o}"></option> -->
<!-- 			</select><a href="#" class="btn btn-primary">Filtrar</a> -->
<!-- 		</div>	 -->

	
	<nav class="navbar navbar-light bg-light" th:if="${errorCurriculum}!=true">
	  <div class="container-fluid" th:action="@{/ciudadano/ofertas}">
	    <form class="d-flex">
	      <input class="form-control me-2" type="text" name="palabraClave" id="palabraClave" th:value="${palabraClave}" placeholder="Ingrese Provincia" aria-label="Search">
	      <button class="btn btn-outline-success" type="submit">Filtrar</button>
	    </form>
	  </div>
	</nav>
	
	<nav class="navbar navbar-light bg-light" th:if="${errorCurriculum}!=true">
	  <div class="container-fluid" th:action="@{/ciudadano/ofertas}">
	    <form class="d-flex">
	      <button class="btn btn-outline-success" type="submit">Todas</button>
	    </form>
	  </div>
	</nav>

	<div class="container mx-auto mt-4" th:if="${errorCurriculum}!=true">
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 18rem;" th:each="o: ${ofertas}"
					th:if="${o.estado}==true">
					<div class="card-body">
						<h5 class="card-title" th:text="'#'+${o.id}+' '+ 'Empleador: '+${o.empleador.nombreComercial}"></h5>
<!-- 						<h6 class="card-subtitle mb-2 text-muted" th:text="'Puesto: '+${o.puestoRequerido} + ' ' + ${o.datosContacto}"></h6> -->
						<h6 class="card-subtitle mb-2 text-muted" th:text="'Puesto: '+${o.puestoRequerido}"></h6>
						<h6 class="card-subtitle mb-2 text-muted" th:text="'Contacto: '+${o.datosContacto}"></h6>
						<p class="card-text" th:text="'Oferta Resumen: '+${o.resumen}"></p>
						<p class="card-text" th:text="'SALARIO: $'+${o.salario}"></p>
<!-- 						<a th:href="@{/postulacion/nuevaPostulacion/}+${o.id}" class="btn mr-2"><i class="fas fa-link"></i>Postularse</a> -->
						<a th:href="@{/postulacion/nuevaPostulacion/}+${o.id}" class="btn btn-info"><i class="fas fa-link"></i>Postularse</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div  th:if="${errorCurriculum}!=true">
		<h3 th:if="${#lists.isEmpty(ofertas)}"
			class="container bg-danger bg-gradient text-center text-white">No
			hay ofertas cargadas!</h3>
	</div>	
	
	<h4 th:if="${postulado}==true" class="container bg-danger bg-gradient text-center text-white">Ya te postulaste</h4>
	<footer th:replace="layouts/ciudadano_footer::ffooter"></footer>
</body>
</html>