<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<title>Formulario ciudadano</title>
	</head>

	<body>
		<header th:replace="layouts/index_header::fheader"></header>
		
			<h1>Formulario Alta de Ciudadano</h1>
			<form th:action="@{/ciudadano/guardar}" method="POST" th:object="${ciudadano}" autocomplete="off">
				<div>
					<label for="intDni">DNI: </label> 
					<input th:field=*{dni} type="text" id="inDni" placeholder="0000000">
				</div>
				
				<div>
					<label for="inNumeroTramite">N° Tramite del DNI: </label> 
					<input th:field=*{numeroTramite} type="text" id="inNumeroTramite" placeholder="00000000000">
				</div>
		
				<div>
					<label for="inNombre">Nombres: </label> 
					<input th:field=*{nombre} type="text" id="inNombre" placeholder="Nombres">
				</div>
				
				<div>
					<label for="inApellido">Apellidos: </label> 
					<input th:field=*{apellido} type="text" id="inApellido" placeholder="Apellidos">
				</div>
				
				<div>
					<label for="inEmail">Email </label> 
					<input th:field=*{email} type="email" id="inEmail" placeholder="correo@electronico.com">>
				</div>
				
				<div>
					<label for="inEstadoCivil">Estado Civil</label>
					<select th:field="*{estadoCivil}" id="estadoId">
						<option th:each="estado : ${estadoCivil}" th:value="${estado}" th:text="${estado}"></option>
				  	</select>
		  		</div>

				<div>
					<label for="inProvincia" class="form-label">Provincia</label> 
					<select	th:field="*{provincia}" id="inProvincia">
						<option th:each="provincia : ${provincias}" th:value="${provincia}" th:text="${provincia}"></option>
					</select>
				</div>

				<div>
					<label for="ftel">Telefono: </label> 
					<input th:field=*{telefono} type="tel" id="ftel" placeholder="000000000">
				</div>
				
				<div>
					<label for="inPassword">Ingresar password: </label> 
					<input th:field=*{password} type="password" id="inPassword" placeholder="*********">
				</div>
				
				<div>
					<button type="submit">Registrase</button>
					<button th:href="@{/inicio}">Cancelar</button>
				</div>
				
			</form>
		
		<footer th:replace="layouts/index_footer::ffooter"></footer>
	</body>
</html>l>