<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<header th:replace="layouts/ciudadano_header::fheader"></header>
		<h1>Curriculum</h1>
<!--  		<form th:action="@{/ciudadano/ver-cv}" method="POST" th:object="${curriculum}" autocomplete="off">  -->
 		<form th:action="@{/ciudadano/ver-cv}" > 
			<div>
				<label for="intContacto">Apellido: </label> 
			</div>
			
			<div>
				<label for="intContacto">Nombre: </label> 
			</div>
			
			<div>
				<label for="intContacto">DNI: </label> 
			</div>
			
			<div>
				<label for="intContacto">Email: </label> 
			</div>
			
			<div>
				<label for="intContacto">Telefono: </label> 
			</div>
			
			<div>
				<label for="intContacto">Estado Civil: </label> 
			</div>
			
			<div>
				<label for="intContacto">Provincia: </label> 
			</div>
			
			<div>
				<label for="intContacto">Contacto: </label> 
			</div>
				
			<div>
				<label for="inIdioma">Idiomas: </label> 
			</div>
		
			<div>
				<label for="inConInf">Conocimientos Infomaticos: </label> 

			</div>
			
			<div>
				<label for="inExpLab">Experiencia Laboral: </label> 
			</div>
				
			<div>
				<button th:href="@{/ciudadano/editar-cv}">Editar</button>
				<button th:href="@{/ciudadano/inicio}">Salir</button>
			</div>
		</form>		
		<footer th:replace="layouts/ciudadano_footer::ffooter"></footer>
	</body>
</html>