<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<header th:replace="layouts/ciudadano_header::fheader"></header>
		<h1>Creación del Curriculum</h1>
 		<form th:action="@{/curriculum/guardar}" method="POST" th:object="${curriculum}" autocomplete="off"> 
			
			<div>
				<label>Apellido: </label>
				<label th:text="${ciudadano.apellido}"></label>
			</div>
			
			<div>
				<label>Nombre: </label>
				<label th:text="${ciudadano.nombre}"></label>
			</div>
			
			<div>
				<label for="intContacto">DNI: </label>
				<label th:text="${ciudadano.dni}"></label> 
			</div>
			
			<div>
				<label for="intContacto">Email: </label> 
				<label th:text="${ciudadano.email}"></label>
			</div>
			
			<div>
				<label for="intContacto">Telefono: </label> 
				<label th:text="${ciudadano.telefono}"></label>
			</div>
			
			<div>
				<label for="intContacto">Estado Civil: </label> 
				<label th:text="${ciudadano.estadoCivil}"></label>
			</div>
			
			<div>
				<label for="intContacto">Provincia: </label> 
				<label th:text="${ciudadano.provincia}"></label>
			</div>
			
			<div>
				<label for="intDomicilio">Domicilio: </label> 
				<input th:field=*{domicilio} type="text" id="intDomicilio" placeholder="domicilio">
			</div>
			
			<div>
				<label for="intContacto">Contacto: </label> 
				<input th:field=*{contacto} type="text" id="intContacto" placeholder="contacto">
			</div>
				
			<div>
				<label for="inIdioma">Idiomas: </label> 
				<input th:field=*{idiomas} type="text" id="inIdioma" >
			</div>
		
			<div>
				<label for="inConInf">Conocimientos Infomaticos: </label> 
				<select th:field="*{conocimientosInfomaticos}" id="inConInf">
						<option th:each="ci : ${conInf}" th:value="${ci}" th:text="${ci}"></option>
				  </select>
			</div>
			
			<div>
				<label for="inExpLab">Experiencia Laboral: </label> 
				<input th:field=*{experienciaLaboral} type="text" id="inExpLab" >
			</div>
				
			<div>
				<button type="submit">Crear</button>
				<button th:href="@{/ciudadano/inicio}">Cancelar</button>
			</div>
		</form>		
		<footer th:replace="layouts/ciudadano_footer::ffooter"></footer>
	</body>
</html>