<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title>Lista de postulantes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<link type="text/css" href="css/empleador_style.css" rel="stylesheet" />
</head>
<body>
	<header th:replace="layouts/empleador_header::fheader"></header>
	
	<h1 class="text-center">Lista de postulantes</h1>
	
	<div class="d-grid gap-2 d-md-flex justify-content-md-end container">
		<h5>Provincia:</h5>
		<select class="select">
			<option th:each="o: ${provincias}" th:text="${o}"></option>
		</select>
		<h5>Palabras claves:</h5>
		<select class="select">
			<option th:each="m: ${claves}" th:text="${m}"></option>
		</select> <a href="#" class="btn btn-primary">Filtrar</a>
	</div>

	<div class="card" style="width: 18rem;" th:each="o: ${perfiles}">
		<div class="card-body">
			<h5 class="card-title" th:text="'#'+${o.id}+ ' ' + ${o.nombre}"></h5>
			<p class="card-text">Empleado</p>
		</div>
		<ul class="list-group list-group-light list-group-small">
			<li class="list-group-item px-4" th:text="${o.email}"></li>
			<li class="list-group-item px-4" th:text="${o.telefono}"></li>
			<li class="list-group-item px-4" th:text="${o.provincia}"></li>
		</ul>
		<div class="card-body">
			<a href="#" class="card-link">Contratar</a> <a href="#"
				class="card-link">Ver cv</a>
		</div>
	</div>

</body>
</html>