<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title>Formulario nueva oferta</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<link type="text/css" href="css/empleador_style.css" rel="stylesheet" />
</head>
<body class="container">
	<h1 class="text-center">Nueva oferta laboral</h1>
	<form th:action="@{/oferta/guardar}" method="POST"
		th:object="${oferta}" autocomplete="off">

		<!-- 2 column grid layout with text inputs for the first and last names -->
		<div class="row mb-4">
			<div class="col">
				<div class="form-outline">
					<select class="form-control" th:field="*{puestoRequerido}" id="pure">
						<option th:each="clave : ${claves}" th:value="${clave}" th:text="${clave}" class="form-control"></option>
					</select>
					<label class="form-label" for="pure">Puesto requerido</label>
					<div class="text-danger"
						th:if="${#fields.hasErrors('puestoRequerido')}"
						th:errors="*{puestoRequerido}"></div>
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<select class="form-control" th:field="*{principalesTareas}" id="pita">
						<option th:each="tarea : ${tareas}" th:value="${tarea}" th:text="${tarea}" class="form-control"></option>
					</select>
					<label class="form-label" for="pita">Principales tareas</label>
					<div class="text-danger"
						th:if="${#fields.hasErrors('principalesTareas')}"
						th:errors="*{principalesTareas}"></div>
				</div>
			</div>
		</div>


		<div class="row mb-4">
			<div class="col">
				<div class="form-outline">
					<input th:field=*{datosContacto} type="text" id="fcont"
						class="form-control" /> <label class="form-label" for="fcont">Contacto</label>
					<div class="text-danger"
						th:if="${#fields.hasErrors('datosContacto')}"
						th:errors="*{datosContacto}"></div>
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<select class="form-control" th:field="*{jornada}" id="jorn">
						<option th:each="jornada : ${jornadas}" th:value="${jornada}" th:text="${jornada}" class="form-control"></option>
					</select>
					<label class="form-label" for="jorn">Jornada</label>
					<div class="text-danger" th:if="${#fields.hasErrors('jornada')}"
						th:errors="*{jornada}"></div>
				</div>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col">
				<div class="form-outline">
					<input th:field=*{cantidadVacantes} type="text" id="fcantidadV"
						class="form-control" /> <label class="form-label"
						for="fcantidadV">Candidad de vacantes disponibles</label>
					<div class="text-danger"
						th:if="${#fields.hasErrors('cantidadVacantes')}"
						th:errors="*{cantidadVacantes}"></div>
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<input th:field=*{salario} type="text" id="fsal"
						class="form-control" /> <label class="form-label" for="fsal">Salario</label>
					<div class="text-danger" th:if="${#fields.hasErrors('salario')}"
						th:errors="*{salario}"></div>
				</div>
			</div>
		</div>

		<div class="form-outline mb-4">
			<input th:field=*{requisitos} type="text" id="freq"
				class="form-control" /> <label class="form-label" for="freq">Requisitos</label>
			<div class="text-danger" th:if="${#fields.hasErrors('requisitos')}"
				th:errors="*{requisitos}"></div>
		</div>

		<div class="form-outline mb-4">
			<input th:field=*{beneficios} type="text" id="fben"
				class="form-control" /> <label class="form-label" for="fben">Beneficios</label>
			<div class="text-danger" th:if="${#fields.hasErrors('beneficios')}"
				th:errors="*{beneficios}"></div>
		</div>

		<div class="form-outline mb-4">
			<select class="form-control" th:field="*{disponibilidadHoraria}" id="diho">
				<option th:each="disponiblidad: ${disponiblidades}" th:value="${disponiblidad}" th:text="${disponiblidad}" class="form-control"></option>
			</select>
			<label class="form-label" for="diho">Disponibilidad Horaria</label>
			<div class="text-danger"
				th:if="${#fields.hasErrors('disponibilidadHoraria')}"
				th:errors="*{disponibilidadHoraria}"></div>
		</div>
		
		<div class="form-outline mb-4">
			<select class="form-control" th:field="*{disponibilidad}" id="modalid">
				<option th:each="modalidad: ${modalidades}" th:value="${modalidad}" th:text="${modalidad}" class="form-control"></option>
			</select>
			<label class="form-label" for="modalid">Modalidad</label>
			<div class="text-danger"
				th:if="${#fields.hasErrors('disponibilidad')}"
				th:errors="*{disponibilidad}"></div>
		</div>

		<div class="form-outline mb-4">
			<textarea class="form-control" th:field=*{resumen} id="fres" rows="4"></textarea>
			<label class="form-label" for="fres">Resumen</label>
			<div class="text-danger" th:if="${#fields.hasErrors('resumen')}"
				th:errors="*{resumen}"></div>
		</div>

		<button type="submit" class="btn btn-primary btn-block mb-4">Crear
			oferta</button>
	</form>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>