<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<!-- <link type="text/css" href="css/empleador_style.css" rel="stylesheet" /> -->
<style>
html, body, .intro {
	height: 100%;
}

table td, table th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

thead th {
	color: #fff;
}

.card {
	border-radius: .5rem;
}

.table-scroll {
	border-radius: .5rem;
}

.table-scroll table thead th {
	font-size: 1.25rem;
}
</style>
</head>

<body>
	<header th:replace="layouts/empleador_header::fheader"></header>
	<h6 th:if="${postulado}==true" class="container bg-danger bg-gradient text-center text-white">El que seleccionaste, ya lo contrataste.</h6>
<!-- 	<div th:if="${errorCurriculum}==true" -->
<!-- 		class="container text-center alert alert-danger alert-dismissible fade show"> -->
<!-- 		<strong>Error!</strong> El ciudadano seleccionado no tiene cv cargado. -->
<!-- 		<a th:href="@{/empleador/ver-ofertas-creadas}">Volver</a> -->
<!-- 	</div> -->
	<section class="intro">
		<div class="bg-image h-100" style="background-color: #f5f7fa;">
			<div class="mask d-flex align-items-center h-30">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="card">
								<div class="card-body p-0">
									<div class="table-responsive table-scroll"
										data-mdb-perfect-scrollbar="true"
										style="position: relative; height: 900px">
										<table class="table table-striped mb-0">
											<thead style="background-color: #002d72;">
												<tr>
													<th scope="col">#</th>
													<th scope="col">Vacantes</th>
													<th scope="col">Puesto requerido</th>
													<th scope="col">Tareas principales</th>
													<th scope="col">Resumen</th>
													<th scope="col">Contacto</th>
													<th scope="col">Jornada</th>
													<th scope="col">Requisitos</th>
													<th scope="col">Beneficios</th>
													<th scope="col">Disponibilidad horaria</th>
													<th scope="col">Modalidad</th>
													<th scope="col">Salario</th>
													<th scope="col">Opciones</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="o: ${ofertas}" th:if="${o.estado}==true">
													<td th:text="${o.id}"></td>
													<td th:text="${o.cantidadVacantes}"></td>
													<td th:text="${o.puestoRequerido}"></td>
													<td th:text="${o.principalesTareas}"></td>
													<td th:text="${o.resumen}"></td>
													<td th:text="${o.datosContacto}"></td>
													<td th:text="${o.jornada}"></td>
													<td th:text="${o.requisitos}"></td>
													<td th:text="${o.beneficios}"></td>
													<td th:text="${o.disponibilidadHoraria}"></td>
													<td th:text="${o.disponibilidad}"></td>
													<td th:text="${o.salario}"></td>
													<td><a th:href="@{/oferta/editar/}+${o.id}">Editar</a>
														<a th:href="@{/oferta/eliminar/}+${o.id}">Eliminar</a>
														<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Postulantes</a>
														<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
															<div class="offcanvas-header">
																<h5 class="offcanvas-title" id="offcanvasExampleLabel">Lista de candidatos</h5>
																<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
															</div>
															<div class="offcanvas-body">
																<div>
																	<h6>Filtrar por</h6>
																	<hr />
																	<h5>Provincias</h5>
																	<div th:each="prov: ${provincias}">
																	    <a th:text="${prov}" th:href="@{/empleador/provincia/{p}(p=${prov})}"></a>
																	</div>
																	<hr />
																	<h5>Palabras clave</h5>
																	<hr />
																	<div th:each=" clav: ${claves}">
																	   		<a th:text="${clav}" th:href="@{/empleador/clave/{c}(c=${clav})}"></a>
																	</div>
																</div>
																<hr />
																<div>
																	<h6 th:if="${errorProvincia}==true" class="container bg-danger bg-gradient text-center text-white">No hay candidatos con esta provincia.</h6>
																	<h6 th:if="${errorClave}==true" class="container bg-danger bg-gradient text-center text-white">No hay candidatos con esta palabra clave.</h6>
																	
																	<div class="card" style="width: 18rem;" th:each="per: ${perfiles}">
																		<div class="card-body">
																				<h5 class="card-title" th:text="'#'+${per.id}+ ' ' + ${per.nombre}"></h5>
																				<p class="card-text">Empleado</p>
																			</div>
																			<ul class="list-group list-group-light list-group-small">
																				<li class="list-group-item px-4" th:text="${per.email}"></li>
																				<li class="list-group-item px-4" th:text="${per.telefono}"></li>
																				<li class="list-group-item px-4" th:text="${per.provincia}"></li>
																			</ul>
																			<div class="card-body">
																				<a th:href="@{/empleador/contratar/{usu}/oferta/{ofe}(usu=${per.id},ofe=${o.id})}" class="card-link">Contratar</a>
																				<a th:href="@{/empleador/vercv/{usu}(usu=${per.id})}" class="card-link">Ver cv</a>
																			</div>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="layouts/empleador_footer::ffooter"></footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>