<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<footer th:fragment="ffooter" class="footer mt-auto py-3 bg-light text-center">
			<div class="container">
				<p class="text-muted">FACULTAD DE INGENIERÍA - UNJu - EMPLEADOR</p>
				<p>Portal de Empleo – Ítalo Palanca Nº **** – Teléfono (***) ******** San Salvador de Jujuy - Jujuy - Argentina.</p>
				<p>&copy; 2022 Grupo 10. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>